.instagram-image {
   display: inline-block;
   position: relative;
   width: 16.66%;
   padding: 0;
   margin: 0;
}

.instagram-image img {
   width: 100%;
   height: auto;
   vertical-align: top;
   padding: 0;
   margin: 0;
}